{% extends 'base_generic.html' %}

{% block content %}
<div class="container mt-5">
  <div class="card shadow-sm mb-4">
    <div class="card-body d-flex justify-content-between align-items-center">
      <h5 class="card-title mb-0 text-muted" style="font-size: 0.875rem;"><i class="bi bi-person-circle me-2"></i>Usuário logado:</h5>
      <span class="badge bg-primary" style="font-size: 0.875rem; font-weight: 300;">{{ user.username }} ({{ user.first_name }} {{ user.last_name }})</span>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-primary text-white d-flex align-items-center justify-content-center gap-2 py-3 rounded-top">
      <i class="bi bi-box-arrow-right fs-3"></i>
      <h2 class="mb-0">Movimentação de ativo</h2>
    </div>
    <div class="card-body">
      <!-- Filtro de busca -->
      <form method="GET" class="mb-4 d-flex justify-content-center">
        <input type="text" name="busca" placeholder="Buscar por ativo (nome ou descrição)..." value="{{ busca }}" class="form-control w-50 me-2">
        <button type="submit" class="btn btn-primary">Filtrar</button>
      </form>

      <!-- Botão adicionar movimentação -->
      <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'criar_movimentacao_ativo' %}" class="btn btn-success">
          <i class="bi bi-plus-circle me-2"></i>Adicionar movimentação do Ativo
        </a>
      </div>

      <!-- Tabela -->
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead class="table-dark text-center">
            <tr>
              <th>Código Ativo</th>
              <th>Tipo</th>
              <th>Origem</th>
              <th>Destino</th>
              <th>Data</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for movimentacao in movimentacoes %}
              <tr>
                <td>{{ movimentacao.ativo }}</td>
                <td>{{ movimentacao.get_status_novo_display }}</td>
                <td>{{ movimentacao.local_anterior }}</td>
                <td>{{ movimentacao.local_novo }}</td>
                <td>{{ movimentacao.data}}</td>
                <td class="text-center">
                  <a href="" class="btn btn-warning btn-sm">
                    <i class="bi bi-pencil-square"></i> Editar
                  </a>
                  <a href="" class="btn btn-danger btn-sm">
                    <i class="bi bi-trash3-fill"></i> Excluir
                  </a>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="5" class="text-center">Nenhuma movimentação de Ativo encontrada.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- Paginação -->
      <nav class="mt-4">
        <ul class="pagination justify-content-center">
          {% if movimentacoes.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?busca={{ busca }}&page=1" aria-label="Primeira página">Primeira</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?busca={{ busca }}&page={{ movimentacoes.previous_page_number }}" aria-label="Página anterior">Anterior</a>
            </li>
          {% endif %}
          <li class="page-item disabled">
            <span class="page-link">Página {{ movimentacoes.number }} de {{ movimentacoes.paginator.num_pages }}</span>
          </li>
          {% if movimentacoes.has_next %}
            <li class="page-item">
              <a class="page-link" href="?busca={{ busca }}&page={{ movimentacoes.next_page_number }}" aria-label="Próxima página">Próxima</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?busca={{ busca }}&page={{ movimentacoes.paginator.num_pages }}" aria-label="Última página">Última</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</div>
{% endblock %}
