{% extends 'base_generic.html' %}
{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form method="POST" class="card card-body">
                <h2 class="text-center">Nova Senha</h2>
                <p class="text-center">Digite sua nova senha abaixo.</p>

                {% if form.errors %}
                <div class="alert alert-danger">Erro ao redefinir a senha. Verifique os campos.</div>
                {% endif %}

                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-success w-100">Redefinir Senha</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}
