{% extends 'base_generic.html' %}
{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form method="POST" class="card card-body">
                <h2 class="text-center">Recuperar Senha</h2>
                <p class="text-center">Digite seu e-mail para receber um link de redefinição de senha.</p>

                {% if form.errors %}
                <div class="alert alert-danger">Erro ao enviar. Verifique o e-mail digitado.</div>
                {% endif %}

                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-primary w-100">Enviar</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}

