{% extends 'base_generic.html' %}
{% load widget_tweaks %}

{# ============================================ #
  Autor: Wilton Loiola
  Empresa: Projeto Integrador I
  Módulo: Cadastro de Produto
  Criação: 26/04/2025
  Última Modificação:Relatorio de Produto
  Status: Em produção
# ============================================ #}

{% block content %}
<main>
    <div class="container mt-5">
        <div class="card shadow-sm mb-4">
            <div class="card-body d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0 text-muted" style="font-size: 0.875rem;"><i class="bi bi-person-circle me-2"></i>Usuário logado:</h5>
                <span class="badge bg-primary" style="font-size: 0.875rem; font-weight: 300;">{{ user.username }} ({{ user.first_name }} {{ user.last_name }})</span>
            </div>
        </div>
        <div class="card shadow-lg rounded-4border-0"> 
            <div class="card-header bg-primary text-white d-flex align-items-center justify-content-center gap-2 py-3 rounded-top">
                <h2 class="mb-0"><i class="bi bi-clock-history me-2"></i> Relatório de Produtos</h2>
            </div>
            <div class="card-body p-4">
                <form method="get" action="" class="row g-3 mb-4 d-flex align-items-end flex-wrap">
                    <div class="col-md-4"> 
                        <label for="nome" class="form-label"><i class="bi bi-box me-1"></i>Descrição do produto:</label>
                        <input type="text" name="nome" value="{{ nome }}" class="form-control w-100 me-2">
                    </div>
                    <div class="col-md-2">
                        <label for="categorias" class="form-label">
                            <i class="bi bi-tag-fill me-1"></i> Categoria:
                        </label>
                        {{ form.categoria|add_class:"form-select form-control" |attr:"id:categorias"  }}
                        {% for error in form.categoria.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}                      
                    </div>
                    <div class="col-md-2">
                        <label for="{{ form.preco_min.id_for_label }}" class="form-label">
                            <i class="bi bi-currency-dollar me-1"></i> Preço Mínimo:
                        </label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-currency-dollar"></i></span>
                            {{ form.preco_min|add_class:"form-control" }}
                        </div>
                        {% for error in form.preco_min.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="col-md-2">
                        <label for="{{ form.preco_min.id_for_label }}" class="form-label">
                            <i class="bi bi-currency-dollar me-1"></i> Preço Maximo:
                        </label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-currency-dollar"></i></span>
                            {{ form.preco_max|add_class:"form-control" }}
                        </div>
                        {% for error in form.preco_max.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>
                    
                    <div class="col-md-2 d-flex align-items-end">
                        <button type="submit" class="btn btn-primary w-75">
                            <i class="bi bi-funnel-fill me-2"></i>Filtrar
                        </button>
                    </div>                     
                </form>

                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th><i class="bi bi-upc-scan me-1"></i> Código do Produto</th>
                                <th><i class="bi bi-card-text me-1"></i> Descrição</th>
                                <th><i class="bi bi-award me-1"></i> Marca</th>
                                <th><i class="bi bi-gear me-1"></i> Modelo</th>
                                <th><i class="bi bi-box me-1"></i> Condição</th>
                                <th><i class="bi bi-check-circle me-1"></i> Status</th>
                                <th><i class="bi bi-currency-dollar me-1"></i> Preço</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for produto in produtos %}
                                <tr>
                                    <td>{{ produto.codigo_produto }}</td>
                                    <td>{{ produto.nome }}</td>
                                    <td>{{ produto.marca }}</td>
                                    <td>{{ produto.modelo }}</td>
                                    <td>{{ produto.condicao }}</td>
                                    <td>{{ produto.status }}</td>
                                    <td>R$ {{ produto.preco |floatformat:2 }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="4" class="text-center text-muted">Nenhuma alteração encontrada.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                 <!-- Paginação -->
                 <nav class="mt-4">
                    <ul class="pagination justify-content-center">
                    {% if produtos.has_previous %}
                        <li class="page-item">
                        <a class="page-link" href="?busca={{ busca }}&page=1" aria-label="Primeira página"><i class="bi bi-chevron-left"></i>Primeira</a>
                        </li>
                        <li class="page-item">
                        <a class="page-link" href="?busca={{ busca }}&page={{ produtos.previous_page_number }}" aria-label="Página anterior"><i class="bi bi-arrow-left-circle"></i>Anterior</a>
                        </li>
                    {% endif %}

                    <li class="page-item disabled">
                        <span class="page-link">Página {{ produtos.number }} de {{ produtos.paginator.num_pages }}</span>
                    </li>

                    {% if produtos.has_next %}
                        <li class="page-item">
                        <a class="page-link" href="?busca={{ busca }}&page={{ produtos.next_page_number }}" aria-label="Próxima página">Próxima<i class="bi bi-arrow-right-circle"></i></a>
                        </li>
                        <li class="page-item">
                        <a class="page-link" href="?busca={{ busca }}&page={{ produtos.paginator.num_pages }}" aria-label="Última página">Última<i class="bi bi-chevron-right"></i></a>
                        </li>
                    {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>
{% endblock %}

